--- 
# Only the main Sass file needs front matter (the dashes are enough) 
--- 


@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

@import url('https://fonts.googleapis.com/css2?family=Song+Myung&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import url('https://fonts.googleapis.com/css2?family=BioRhyme:wght@200;300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
   font-family: 'RIDIBatang';
   font-weight: normal;
   src: url(/assets/css/fonts/RIDIBatang.otf);
}

/* NOTE 블록 스타일 */
blockquote p {
  position: relative;
  padding-left: 2.5rem;
}

blockquote p::before {
  content: "💡 NOTE";
  position: absolute;
  left: 0;
  top: 0;
  font-weight: bold;
  color: #ff6600;
}

/* 블록 인식용 추가 스타일 */
blockquote {
  background-color: #fff7f0;
  border-left: 5px solid #ff6600;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  margin: 1.5rem 0;
}

   
